@import url("https://fonts.googleapis.com/css?family=Karla|Pacifico&display=swap");

:root {
  --title-font: "Pacifico", cursive;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Karla", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: linear-gradient(#3bb3e4, whitesmoke);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
